body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
	background-color: #E5E3D5;
	padding: 0px;
}
.main {
	width: 60%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
	background-color:#fff;
	background-repeat: no-repeat;
	background-position: center top;
	padding-top: 25px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
}
.left {
	margin-left: 20px;
	margin-right: auto;
	float: left;
	width: 15%;
	margin-top: 0px;
}
img {
	width: 100%;
	height: auto;
}
.right {
	float: right;
	width: 15%;
	margin-top: 25px;
}
.main tr {
	height: 35px;
}
.main button {
	white-space: nowrap;
}
.main table {
	width: 100%;
}
