body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
	background-color: #E5E3D5;
	margin: 0px;
	padding: 0px;
}
.main {
	background-repeat: repeat-y;
	width: 940px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
	background-color:#fff;
	background-repeat: no-repeat;
	background-position: center top;
	margin-bottom: 25px;
	padding-top: 25px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
}
.main tr {
	height: 35px;
}
.main button {
	white-space: nowrap;
}
